$color-primary: #dea193; 
//e78f93 #cdcbcb #d8a48f #ebe5dc #8c6a5d
$color-primary-light:#f4f1ec;

$color-primary-dark: #a3a380; 

$color-secondary: #8c6a5d; 

$color-grey-light-1: #ebe5dc;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
$color-charcoal: #4a3f3b;

$default-font-size: 1.6rem;